@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<div class="d-flex align-items-center gap-2">
@if (SignInManager.IsSignedIn(User))
{
    <a class="btn btn-dark fw-bold" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Account</a>

    @* Logout Form *@
    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
        <button type="submit" class="btn btn-dark fw-bold">Log Out</button>
    </form>
}
else
{
    @* Login Link styled as a Dark Button *@
    <a class="btn btn-dark fw-bold" asp-area="Identity" asp-page="/Account/Login">Log in</a>
}
</div>